$primary: #C9672A;
$secondary: #F9F6E5;
$info: #437C90;
$dark: #373E40; 

@font-face {
    font-family: 'Play', sans-serif;
    src: local("fonts/Play/Play-Regular.ttf") format('ttf');
}

body {
    margin-top: 50px;
}

.navbar {
    position: fixed;
    top:0;
    color: #C9672A;
}

.rounded-circle {
    height: 5em;
}

// .contact {                   // for footer jumbotron
//     display: flex;
//     justify-content: space-around;
//     color: white
// }

.badge {
    color: #C9672A;
}

.skills {
    font-size: 16px;
    text-align: center;
    font-family: 'Play', sans-serif;
}

// .alert {                        // doesn't affect alert
//     padding-top: 10px;
//     padding-bottom: 0px
// }

.exp-snip {
    max-height: 100px;
    max-width: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img-snip {
    max-width: 250px;
}

.card {
    display: flex;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px
}

// .card-text {
//     font-family: 'Play', sans-serif;  // not working
// }

.card-body-proj {
    padding-bottom: 5px
}

// .display-5 {                 // title jumbotron
//     text-align: center;
//     font-size: 2.25em;
// }

// .subline {                   // jumbotrons
//     text-align: center;
//     font-size: 1.25em;
//     padding-bottom: .75em; 
// }

// h1 {

// }

h2 {
    color: #4b4f4f;
    font-weight: 800;
    margin-left: 100px

}

.proj-card {
    max-width: 250px;
    align-content: center;
}

.project-btn {
    padding: 5px 10px 5px 10px;
}

// .contact-footer {          // jumbotron
//     color: white;
//     padding-bottom: 4px;
// }

.credits {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}

.icon {
    height: 7em;
    width: 7em;    
    margin:1em;
    align-items: center;
}
