
@font-face {
    font-family: 'Saira Extra Condensed', sans-serif;
    src: url('fonts/SairaExtraCondensed-Regular.ttf') format('truetype');
}

$primary: #C9672A;
$secondary: #F9F6E5;
$info: #437C90;
$dark: #373E40; 

body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    position: fixed;
    background-color: white;
    border: 1px solid #C9672A;
    color: white;
    font-family: 'Saira Extra Condensed', sans-serif;

}

.bubble1 {
    position: absolute;
    margin-right: 20px;
    height: 100px;
    width: 300px;
    border-radius: 10%;
    background-color: black;
    display: block
}

.bubble2 {
    position: absolute;
    margin-left: 20px;
    height: 100px;
    width: 300px;
    border-radius: 10%;
    background-color: purple;
    display: block
}

// .jumbotron {
//     font-family: 'Sarala', sans-serif;
//     padding: 20px 10px 20px 10px;
// }

.rounded-circle {
    height: 5em;
}

.contact {
    display: flex;
    justify-content: space-around;
    color: white
}

.lead1 {
    font-size: 18px;
    font-weight: 800;
}

.current {
    font-size: 14px;
}

.badge {
    color: #C9672A;
}

.skills {
    // font-family: 'Sarala', sans-serif;
    font-size: 16px;
    text-align: center;
}

.alert {
    // font-family: 'Sarala', sans-serif;
    padding-top: 10px;
    padding-bottom: 0px
}

.exp-snip {
    max-height: 100px;
    max-width: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img-snip {
    max-width: 250px;
}

.card {
    display: flex;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
}

.card-title {
    // font-family: 'Sarala', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
}

// .card-foot {
//     // font-family: 'Sarala', sans-serif;

// }

.card-body-proj {
    padding-bottom: 5px
}

.table {
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-bottom: 150px
}

.display-5 {
    text-align: center;
    font-size: 2.25em;
}

.subline {
    text-align: center;
    font-size: 1.25em;
    padding-bottom: .75em; 
}

h1 {
    font-family: 'Saira Extra Condensed', sans-serif;
}

h2 {
    // font-family: 'Open Sans';
    // font-family: 'Sarala', sans-serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
    color: #4b4f4f;
    font-weight: 800
}

li {
    font-size: 16px;
}

// .btn {
//     // font-family: 'Sarala', sans-serif;
// }

// .font {
//     // font-family: 'Sarala', sans-serif;
// }

.proj-card {
    max-width: 250px;
    align-content: center;
}

.project-btn {
    padding: 5px 10px 5px 10px;

}

.p-jumbo {
    text-align: center;
    font-size: 1em;
    margin: -30px 0 -5px 0;
}

.contact-footer {
    color: white;
    // font-family: 'Sarala', sans-serif;
    padding-bottom: 4px;
}

.credits {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}

.icon {
    height: 7em;
    width: 7em;    
    margin:1em;
    align-items: center;
}
