$primary: #c9672a;
$secondary: #f9f6e5;
$info: #437c90;
$dark: #373e40;

@font-face {
  font-family: "Play", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Play");
}

body {
  // margin-top: 50px;
  font-family: "Play", sans-serif;
  margin: 0;
}

h2 {
  color: #4b4f4f;
  font-weight: 800;
  margin-left: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  color: #c9672a;
  border-bottom: solid 1px #c9672a;
  box-shadow: darkslategrey;
}

//Skills
.badge {
  color: #c9672a;
}

.skills {
  font-size: 16px;
  text-align: center;
  font-family: "Play", sans-serif;
}

//Experience
.exp-snip {
  max-height: 100px;
  max-width: 200px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card {
  display: flex;
  overflow-wrap: break-word;
}

//Projects
.proj-card {
  align-content: center;
}

.project-btn {
  font-family: "Play", sans-serif;
}

//Education
.table {
  margin-left: auto;
  margin-right: auto;
  float: center;
}

//Footer
.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}

.icon {
  max-width: 112px;
}
