.jumbotron {
    font-family: 'Sarala', sans-serif;
    padding: 20px 10px 20px 10px;
}

.rounded-circle {
    height: 5em;
    /* width: 5em; */
}

.display-4, .subline {
    color: white;
}

.contact {
    display: flex;
    justify-content: space-around;
    color: white
}

.lead1 {
    font-size: 18px;
    font-weight: 800;
}

.current {
    font-size: 14px;
}

.skills {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
}

.card-img-top {
    max-height: 100px;
    max-width: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card {
    display: flex;
    overflow-wrap: break-word;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
}

.card-foot {
    font-family: 'Sarala', sans-serif;
    font-weight: 800;
    font-size: 16px
}

.table {
    font-family: 'Sarala', sans-serif;
}

.display-5 {
    text-align: center;
    font-size: 2.25em;
}

.subline {
    text-align: center;
    font-size: 1.25em;
    padding-bottom: .75em; 
}

h2 {
    font-family: 'Open Sans';
    font-family: 'Sarala', sans-serif;
    text-align: center;
    color: #4b4f4f;
    font-weight: 800
}

h6 {
    color: gray;
}

.btn {
    font-family: 'Sarala', sans-serif;
}

.font {
    font-family: 'Sarala', sans-serif;
}

.proj-card {
    max-width: 250px;
}

.project-btn {
    padding: 5px 10px 5px 10px;
}

.p-jumbo {
    text-align: center;
    font-size: 1em;
    margin: -30px 0 -5px 0;
}

.contact-footer {
    color: white;
    font-family: 'Sarala', sans-serif;
}

.credits {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
}

.icon {
    height: 7em;
    width: 7em;    
    margin:1em;
    align-items: center;
}
